---
console.log("typescript");
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <h1 class="text-6xl text-white text-center mt-4">SpaceX launches 🚀</h1>
  <nav
    class="flex flex-col items-center justify-between w-full text-center md:flex-row"
  >
    <a class="text-white" href="/">Last launches</a>
    <a class="text-white" href="/oldest">Oldest launches</a>
  </nav>
</header>
